body {
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    min-height: 100vh;
    position: relative;
}

.card-list {
    list-style-type: none;
}

.card-item {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.footer-text {
    font-size: 80%;
}

footer {
    position: absolute;
    bottom: 0;
}

.flip {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.no-decor,
.no-decor:focus,
.no-decor:active,
.no-decor:link,
.no-decor:hover {
    color: inherit;
    text-decoration: inherit;
}

.bg-darker-grey {
    background-color: #1D1D1D;
}

.bg-dark-grey {
    background-color: #424242;
}

.bg-grey {
    background-color: #a1a1a1;
}