{% extends "base.html" %}
{% block styles %}
<script src="//unpkg.com/alpinejs" defer></script>
{% endblock styles %}

{% block content %}
<div class="container-fluid mt-2 mt-md-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mt-md-0 d-flex justify-content-center">
            <div class="card shadow-lg border rounded border-dark">
                <div class="row g-0">
                  <div class="col-12">
                    <div class="card-header bg-dark-grey border-0 d-flex justify-content-around">
                        <a href="{{ url_for('nonfatal_dash') }}" class="card-item m-1 text-white">
                            <i class="fas fa-chart-area"></i>
                            Dashboard
                        </a>

                        <a href=" {{ url_for('nonfatal_dash_info') }}" class="card-item m-1 text-white">
                            <i class="fas fa-info-circle"></i>
                            Information
                        </a>
                    </div>
                    <div class="card-body ">
                      <h5 class="card-title fw-bolder text-center">Nonfatal Shootings and Homicides</h5>
                      <p class="card-text">The homicide and nonfatal shooting information contained in these dashboards represents information maintained by the Milwaukee Homicide Review Commission (MHRC), based on records provided by the Milwaukee Police Department.
                    </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-2 mt-md-0 d-flex justify-content-center">
            <div class="card shadow-lg border rounded border-dark" >
                <div class="row g-0">
                  <div class="col-12">
                    <div class="card-header bg-dark-grey border-0 d-flex justify-content-around">
                        <a href="{{ url_for('hospital_interven') }}" class="card-item m-1 text-white">
                            <i class="fas fa-chart-area"></i>
                            Dashboard
                        </a>

                        <a href=" {{ url_for('hospital_interven_info') }}" class="card-item m-1 text-white">
                            <i class="fas fa-info-circle"></i>
                            Information
                        </a>
                    </div>
                    <div class="card-body ">
                      <h5 class="card-title fw-bolder text-center">Hospital Intervention Response to Shootings</h5>
                      <p class="card-text">Patients treated at Froedtert Hospital for a gun shot wound that occurred in the City of Milwaukee, who are referred to the 414LIFE program in the City of Milwaukee. 
                    </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
       
        <div class="col-12 col-sm-6 col-md-4 mt-2 mt-md-0 d-flex justify-content-center">
            <div class="card shadow-lg border rounded border-dark">
                <div class="row g-0">
                  <div class="col-12">
                    <div class="card-header bg-dark-grey border-0 d-flex justify-content-around">
                        <a href="{{ url_for('hospital_emergen') }}" class="card-item m-1 text-white">
                            <i class="fas fa-chart-area"></i>
                            Dashboard
                        </a>

                        <a href=" {{ url_for('hospital_emergen_info') }}" class="card-item m-1 text-white">
                            <i class="fas fa-info-circle"></i>
                            Information
                        </a>
                    </div>
                    <div class="card-body ">
                      <h5 class="card-title fw-bolder text-center">Hospital Emergency Room Data for Assault-Related Injuries</h5>
                      <p class="card-text">The homicide and nonfatal shooting information contained in these dashboards represents information maintained by the Milwaukee Homicide Review Commission (MHRC), based on records provided by the Milwaukee Police Department.
                    </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}