{% extends "base.html" %}
{% block styles %}
<script src="//unpkg.com/alpinejs" defer></script>
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12" x-data="{ isVisible: true }" x-cloak x-init="{ showFooter: '{{showFooter}}' }">

            <div class="card-group  d-flex flex-column bg-dark-grey mt-3 shadow-lg rounded">
                <div class='card mb-0 text-center bg-dark-grey'>
                    <h5 class="card-title fw-bolder bg-dark-grey text-white p-1 mt-2">
                    Nonfatal Shootings and Homicides
                    </h5>
                    <div class='card-header d-flex flex-row justify-content-center'>                    
                        <a href="{{ url_for('nonfatal_dash') }}" class="card-item text-white m-1">
                            <i class="fas fa-chart-area"></i>
                            Dashboard
                        </a>

                        <a href=" {{ url_for('nonfatal_dash_info') }}" class="card-item text-white m-1">
                            <i class="fas fa-info-circle"></i>
                            Information
                        </a>
                        <span class="d-flex float-end">
                            <a href="#" @click="isVisible = !isVisible" :class="{ flip: isVisible }" class='card-link  border-0 text-text-decoration-none text-white'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                </svg>
                            </a>
                        </span>
                    </div>
                </div>
                <div class='card rounded-0 mt-0 mb-0 border-0 mx-0 text-center bg-dark-grey' x-show="isVisible" x-cloak>
                    <img class="card-img rounded-0 " src="static/css/homicide-dash-thumbnail.png"></img>
                    <div class="card-img-overlay ">
                        <div class="bg-darker-grey fw-bold opacity-50 rounded text-light p-1 mt-md-5 card-text">
                            The homicide and nonfatal shooting information contained in these dashboards represents information maintained by the Milwaukee Homicide Review Commission (MHRC), based on records provided by the Milwaukee Police Department.
                        </div>
                    </div> 
                </div>  
            </div
            >
        </div>   
    </div>
</div>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}