{% extends "base.html" %}
{% block content %}
<div class="container">
   <div class="row d-flex justify-content-center border-rounded">
       <div class="col-md-10">
            <div class="card mt-md-5 mt-2 shadow-lg">
                <h3 class="card-title text-center bg-dark-grey text-white p-3 shadow-sm">Bringing Data and Partners Together to Prevent and Reduce Violence</h3>
                <div class="card-body">
                    <h6 class='card-subtitle fw-bolder text-left'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                      </svg> Purpose</h6>
                    <p class='card-text'>
                        The purpose of this website is to provide a centralized resource, including a public-facing, real-time violence data dashboard for the City of Milwaukee.
                    </p>
                    <h6 class='card-subtitle fw-bolder text-left'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                          </svg> About</h6>
                    <p class='card-text'> 
                        As the region grapples with record levels of violence and injury, it is imperative to put data in the hands of the community members and organizations carrying out community-engaged violence intervention and prevention work. This effort is unique in that it is bringing together multiple existing, disparate datasets to create more real-time data sharing across systems. These data will inform community organizations, community members, and researchers in near real-time about violence patterns, and provide a new tool to support the neighborhoods and communities most impacted by violence.
                    </p>
                    <h6 class='card-subtitle fw-bolder'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                          </svg> Contact</h6>
                    <p class='card-text'>
                        Feedback on the site and data visualizations is welcome!
                    </p>
                </div>
            </div>
       </div>
   </div> 
</div>
{% endblock content %}