{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class='col text-center'>
            <button class="btn btn-link text-black"  onclick="window.history.go(-1)"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="inherit" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg> Return 
            </button>

            <a class="btn btn-link text-black" href=" {{ url_for('nonfatal_dash_info')}}"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" fill="inherit" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg> Data Information
            </a>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="container mb-5 w-auto" > 
                <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
                <div class='tableauPlaceholder' style='width: 1200px; height: 627px;'>
                    <object class='tableauViz' width='1200' height='627' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> 
                        <param name='site_root' value='&#47;t&#47;datashare' />
                        <param name='name' value='DashMock_21_12_1&#47;Explore' />
                        <param name='tabs' value='no' /><param name='toolbar' value='no' />
                        <param name='showAppBanner' value='false' />
                    </object></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
