{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Resources</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    <h5><a class="text-black" href="https://www.facebook.com/events/332601771685733/?acontext=%7B%22ref%22%3A%2252%22%2C%22action_history%22%3A%22[%7B%5C%22surface%5C%22%3A%5C%22share_link%5C%22%2C%5C%22mechanism%5C%22%3A%5C%22share_link%5C%22%2C%5C%22extra_data%5C%22%3A%7B%5C%22invite_link_id%5C%22%3A559270915237074%7D%7D]%22%7D">Coffee Conversations with Scientists: Preventing Violence, Promoting Safe and Healthy Communities</a></h5>
                    <iframe class="rounded" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fmedicalcollegeofwisconsin%2Fvideos%2F335444848065044%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <div class='text-caption'>What does effective violence prevention look like: Explore the science behind violence prevention as a public health issue.</div>
                </li>
                    
                <li class="list-group-item">
                    <h5><a class="text-black" href="https://city.milwaukee.gov/414Life">414 Life: Milwaukee Blueprint for Peace</a></h5>
                    <div class="text-caption text-start">The Milwaukee Blueprint for Peace is a community-driven agenda for addressing the complex factors that drive violence in our city. Rooted in a public health approach to violence prevention, this Blueprint was shaped by more than 1,500 individuals, elevating the voices of youth, community residents, and key stakeholders to call for strategic, aligned, and sustained investments and action to prevent violence, build resilience, and create a safer, healthier city.</div>
                </li>
                <li class="list-group-item">
                    <h5><a class="text-black" href="https://www.mcw.edu/departments/epidemiology/research/milwaukee-homicide-review-commission">Milwaukee Homicide Review Commission</a></h5>
                    <div class="text-caption text-start">The Milwaukee Homicide Review Commission (MHRC) strives to reduce homicides and non-fatal shootings through a multi-level, multi-disciplinary and multi-agency homicide review process. The MHRC is comprised of law enforcement professionals, criminal justice professionals and community service providers who meet regularly to exchange information regarding the city’s homicides and other violent crimes to identify methods of prevention from both public health and criminal justice perspectives.</div>
                </li>
              </ul>
        </div>
    </div>
</div>
{% endblock content %}